# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("./Resources/applicants_data.csv"))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns = ["EIN", "NAME"])

In [5]:
# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
#produces a list of categorical variables
list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [7]:
# Create a list of categorical variables 
categorical_variables = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"]

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [9]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [10]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns = enc.get_feature_names(categorical_variables))

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [11]:
##### Check with TA 

# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df, applicant_data_df[["STATUS","IS_SUCCESSFUL", "ASK_AMT"]]], axis=1)

# Review the Dataframe
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,IS_SUCCESSFUL,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1,142590

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [12]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [13]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns= "IS_SUCCESSFUL")

# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [14]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [15]:
# Create a StandardScaler instance
X_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)
# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [16]:
# Define the the number of inputs (features) to the model
number_input_features = 9

# Review the number of features
number_input_features

9

In [17]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [18]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  18

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

18

In [19]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  8

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

8

In [20]:
# Create the Sequential model instance
nn = Sequential()

In [21]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim = number_input_features, input_shape = (116,), activation = "relu"))

In [22]:
# Add the second hidden layer
nn.add(Dense(units= hidden_nodes_layer2, activation="relu"))

In [23]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units = number_output_neurons, activation = "sigmoid"))

In [24]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 18)                2106
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 152
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 9
=================================================================
Total params: 2,267
Trainable params: 2,267
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [25]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
# Fit the model using 50 epochs and the training data
deep_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 861us/step - loss: 0.5963 - accuracy: 0.7072
Epoch 2/50
804/804 [==============================] - 1s 890us/step - loss: 0.5584 - accuracy: 0.7285
Epoch 3/50
804/804 [==============================] - 1s 963us/step - loss: 0.5525 - accuracy: 0.7304
Epoch 4/50
804/804 [==============================] - 1s 974us/step - loss: 0.5494 - accuracy: 0.7311
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7327
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7327
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7336
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7335
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7327
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7332
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7336
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7355
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7345
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7363
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7344
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7355
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7351
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7351
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7362
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7357
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7347
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7355
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7358
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7359
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7355
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7362
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7360
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7365
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7362
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7364
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7359
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7366
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7367
Epoch 34/50
804/804 [==============================] - 1s 986us/step - loss: 0.5385 - accuracy: 0.7374
Epoch 35/50
804/804 [==============================] - 1s 990us/step - loss: 0.5382 - accuracy: 0.7371
Epoch 36/50
804/804 [==============================] - 1s 973us/step - loss: 0.5382 - accuracy: 0.7361
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7358
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7369
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7368
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7369
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7370
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7372
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7372
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7374
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7368
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7376
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7375
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7383
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7379
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7370

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [27]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5540 - accuracy: 0.7313
Loss: 0.5539848804473877, Accuracy: 0.7313119769096375

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [50]:
# Set the model's file path
file_path = Path("AlphabetSoup.h5")
nn.save("AlphabetSoup.h5")

# Export your model to a HDF5 file
# YOUR CODE HERE

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [29]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [30]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [31]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 5

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

5

In [33]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [34]:
# First hidden layer
nn_A1.add(Dense(units = hidden_nodes_layer1_A1, input_dim = number_input_features, input_shape = (116,), activation="relu"))


# Output layer
nn_A1.add(Dense(units= number_output_neurons_A1, activation="linear"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 5)                 585
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 6
=================================================================
Total params: 591
Trainable params: 591
Non-trainable params: 0
_________________________________________________________________

In [35]:
# Compile the Sequential model
nn_A1.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [36]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 820us/step - loss: 2.4904 - mse: 2.4904
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0136 - mse: 1.0136
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5167 - mse: 0.5167
Epoch 4/50
804/804 [==============================] - 1s 932us/step - loss: 0.3214 - mse: 0.3214
Epoch 5/50
804/804 [==============================] - 1s 870us/step - loss: 0.2427 - mse: 0.2427
Epoch 6/50
804/804 [==============================] - 1s 894us/step - loss: 0.2152 - mse: 0.2152
Epoch 7/50
804/804 [==============================] - 1s 874us/step - loss: 0.2017 - mse: 0.2017
Epoch 8/50
804/804 [==============================] - 1s 893us/step - loss: 0.1955 - mse: 0.1955
Epoch 9/50
804/804 [==============================] - 1s 930us/step - loss: 0.1918 - mse: 0.1918
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1896 - mse: 0.1896
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1883 - mse: 0.1883
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1878 - mse: 0.1878
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1879 - mse: 0.1879
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1879 - mse: 0.1879
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1885 - mse: 0.1885
Epoch 16/50
804/804 [==============================] - 1s 962us/step - loss: 0.1877 - mse: 0.1877
Epoch 17/50
804/804 [==============================] - 1s 983us/step - loss: 0.1871 - mse: 0.1871
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1867 - mse: 0.1867
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1863 - mse: 0.1863
Epoch 20/50
804/804 [==============================] - 1s 955us/step - loss: 0.1867 - mse: 0.1867
Epoch 21/50
804/804 [==============================] - 1s 977us/step - loss: 0.1867 - mse: 0.1867
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1866 - mse: 0.1866
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1861 - mse: 0.1861
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1862 - mse: 0.1862
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1860 - mse: 0.1860
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1864 - mse: 0.1864
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1860 - mse: 0.1860A: 0s - loss: 0.189
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1857 - mse: 0.1857
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1852 - mse: 0.1852
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1856 - mse: 0.1856
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1855 - mse: 0.1855
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1853 - mse: 0.1853
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1853 - mse: 0.1853
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1854 - mse: 0.1854
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1856 - mse: 0.1856
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1852 - mse: 0.1852
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1851 - mse: 0.1851
Epoch 38/50
804/804 [==============================] - 1s 933us/step - loss: 0.1851 - mse: 0.1851
Epoch 39/50
804/804 [==============================] - 1s 864us/step - loss: 0.1850 - mse: 0.1850
Epoch 40/50
804/804 [==============================] - 1s 918us/step - loss: 0.1849 - mse: 0.1849
Epoch 41/50
804/804 [==============================] - 1s 867us/step - loss: 0.1850 - mse: 0.1850
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1851 - mse: 0.1851
Epoch 43/50
804/804 [==============================] - 1s 922us/step - loss: 0.1849 - mse: 0.1849
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1848 - mse: 0.1848
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1849 - mse: 0.1849
Epoch 46/50
804/804 [==============================] - 1s 994us/step - loss: 0.1848 - mse: 0.1848
Epoch 47/50
804/804 [==============================] - 1s 981us/step - loss: 0.1847 - mse: 0.1847
Epoch 48/50
804/804 [==============================] - 1s 989us/step - loss: 0.1850 - mse: 0.1850
Epoch 49/50
804/804 [==============================] - 1s 948us/step - loss: 0.1846 - mse: 0.1846
Epoch 50/50
804/804 [==============================] - 1s 959us/step - loss: 0.1844 - mse: 0.1844 0s - loss: 0.1849 -

#### Alternative Model 2

In [37]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [38]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [39]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 22

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

22

In [40]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [41]:
# First hidden layer
nn_A2.add(Dense(units = hidden_nodes_layer1_A2, input_dim = number_input_features, input_shape = (116,), activation="relu"))

# Output layer
nn_A2.add(Dense(units= number_output_neurons_A2, activation="linear"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 22)                2574
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 23
=================================================================
Total params: 2,597
Trainable params: 2,597
Non-trainable params: 0
_________________________________________________________________

In [42]:
# Compile the model
nn_A2.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [43]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 840us/step - loss: 1.2217 - mse: 1.2217
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.3717 - mse: 0.3717
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2340 - mse: 0.2340A: 0s - loss: 0.2311 -
Epoch 4/50
804/804 [==============================] - 1s 982us/step - loss: 0.2028 - mse: 0.2028
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2063 - mse: 0.2063
Epoch 6/50
804/804 [==============================] - 1s 971us/step - loss: 0.2123 - mse: 0.2123
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2285 - mse: 0.2285
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2364 - mse: 0.2364
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2236 - mse: 0.2236
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2117 - mse: 0.2117A: 0s - loss: 0.2094 - mse: 0
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2110 - mse: 0.2110
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2054 - mse: 0.2054
Epoch 13/50
804/804 [==============================] - 1s 972us/step - loss: 0.2079 - mse: 0.2079
Epoch 14/50
804/804 [==============================] - 1s 940us/step - loss: 0.2126 - mse: 0.2126
Epoch 15/50
804/804 [==============================] - 1s 988us/step - loss: 0.2125 - mse: 0.2125
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1981 - mse: 0.1981
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1975 - mse: 0.1975
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1981 - mse: 0.1981
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1993 - mse: 0.1993
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1974 - mse: 0.1974
Epoch 21/50
804/804 [==============================] - 1s 996us/step - loss: 0.1968 - mse: 0.1968
Epoch 22/50
804/804 [==============================] - 1s 997us/step - loss: 0.1956 - mse: 0.1956
Epoch 23/50
804/804 [==============================] - 1s 992us/step - loss: 0.1909 - mse: 0.1909
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1913 - mse: 0.1913
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1916 - mse: 0.1916
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1898 - mse: 0.1898
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1891 - mse: 0.1891
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1891 - mse: 0.1891
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1890 - mse: 0.1890
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1871 - mse: 0.1871
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1862 - mse: 0.1862
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1869 - mse: 0.1869
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1866 - mse: 0.1866
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1866 - mse: 0.1866A: 0s - loss: 0.1866 - mse: 0.186
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1853 - mse: 0.1853
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1852 - mse: 0.1852
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1848 - mse: 0.1848
Epoch 38/50
804/804 [==============================] - 1s 993us/step - loss: 0.1850 - mse: 0.1850
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1851 - mse: 0.1851
Epoch 40/50
804/804 [==============================] - 1s 1000us/step - loss: 0.1854 - mse: 0.1854
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1841 - mse: 0.1841
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1848 - mse: 0.1848
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1843 - mse: 0.1843
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1836 - mse: 0.1836
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1837 - mse: 0.1837
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1847 - mse: 0.1847
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1842 - mse: 0.1842
Epoch 48/50
804/804 [==============================] - 1s 996us/step - loss: 0.1832 - mse: 0.1832
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1834 - mse: 0.1834A: 0s - loss: 0.1831 - mse: 0.
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1836 - mse: 0.1836

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [44]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5540 - accuracy: 0.7313
Loss: 0.5539848804473877, Accuracy: 0.7313119769096375

In [45]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.1872 - mse: 0.1872
Loss: 0.18720056116580963, Accuracy: 0.18720056116580963

In [47]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.1866 - mse: 0.1866
Loss: 0.18657170236110687, Accuracy: 0.18657170236110687

### Step 3: Save each of your alternative models as an HDF5 file.

In [52]:
# Set the file path for the first alternative model
file_path = Path("AlphabetSoup1.h5")
nn_A1.save("AlphabetSoup1.h5")

# Export your model to a HDF5 file
# YOUR CODE HERE

In [53]:
# Set the file path for the second alternative model
file_path = Path("AlphabetSoup2.h5")
nn_A2.save("AlphabetSoup2.h5")
# Export your model to a HDF5 file
# YOUR CODE HERE